
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Small/Phone View */

:root {
    --primary-color:#bababa;
    --secondary-color:#8d8d8d;
    --accent1-color: #a6cbeb;
    --accent2-color: #074c88;
    --accent3-color: #3a3a3a;
    --accent4-color: #ffffff;
    --accent5-color: #e71212;
    --accent6-color: #fcf0c9;
    --font-header: verdana;
    --font-paragraph: monospace;
}

* {
    box-sizing: border-box;
    /*border:1px solid black;*/
}

.myaccount{
    transform: translateY(-250%);
    text-decoration: none;
    font-weight: bold;
}

.aside {
    text-align: right;
  }
  
nav {
    display: block;
    background-color: var(--accent3-color);
    text-align: left;
}

nav ul{
    padding: 0.25em;
}
nav li {
    padding-left: 100px;
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

nav li a{
    color: var(--accent4-color);
    text-decoration: none;
}

.board{
    background-color: #ffffff;
}


nav ul a:hover {
    background-color: var(--accent2-color);
    padding:1.5em;
  }

h1,h2{
    color: var(--accent3-color);
    font-family: var(--font-header);
    text-align: left;
}

p{
    color:var(--accent3-color);
    font-family:var(--font-paragraph);
}

.text-car{
text-align: left;
padding: 10px;
}

.text-car p{
    color:var(--accent2-color);
    line-height: 0
}

.text-car h3{
    color:var(--accent2-color);
    font-weight: bold;
    line-height: 0
}

.button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    height: 5%;
    background-color: var(--accent2-color);
    color: var(--accent4-color);
    }

.upgrades{
    background-color: var(--accent2-color);
    padding: 1em;
    grid-template-rows: 5em;
    display: grid;
}

html{
    background-image: url("../images/site/small_check.jpg");
    background-color: #cccccc;
    background-repeat: repeat;
    background-position: center;
}

body {
    max-width: 960px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 0px !important;;
    background-color: var(--accent4-color);
    }

header img{
    display: block;
    margin-right: auto;
}



.line{
    height:5px;
    color:var(--accent3-color);
    background-color:var(--accent3-color);
}

footer{
    max-width: 960px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

.car{
    width: 100%;
}


.content2{
    display: grid;
    grid-gap: 10px;
    margin: 1em;
    grid-row: 1/2;
}

.content2 li{
    text-align: left;
    line-height: 1em;

}

.content1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    }

.upgrades img{
    margin: auto;
}

.contain-upgrades{
    margin:1em;
    }

.main-home{
    display: grid;
    grid-template-columns: 1fr;
    padding: 4em;
    background-color: #ffffff;
    }


/*Log in */

form{
    text-align: left;
    margin: 2em;
}

.form-title{
    margin:1.3em;
}

.forma p{
margin: 2em;
text-align: left;
}

.reg-title{
    margin: 0;
}

.form-button{
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    height: 5%;
    background-color: var(--accent2-color);
    color:var(--accent4-color);
}


/*Register*/

#password{
    cursor: pointer;
    text-align: center;
    height: 5%;
    background-color: var(--accent3-color);
    color:var(--accent4-color)
}

.aclarations{
    font-size: 12px;
}

/* Add-vehicle*/

.customer-review-form{
    margin:2em;
}

.main-vehicle p{   
    margin: 2em;
    text-align: left;}


.vehicle-management li{
    text-align: left;
}


/*Forms */

input:required:invalid, input:focus:invalid {
    background-image: url(/images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
   }
    input:required:valid {
    background-image: url(/images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
    }

/*Admin view*/

.user-info li{
    text-align: left;
}

.admin-especial-info{
    display: grid;
    
}

.word{
    text-decoration: none;
    color:var(--accent3-color)
}

.name{
    text-decoration: none;
    color:var(--accent3-color)

}


.admin-main{
    display: grid;
    grid-template-columns: 1fr;
}

.user-info{
    text-align: left;
}

.extra-info p{
    text-align: left;
}

.extra-info a{
    text-align: left;
}

.extra-info li {
    text-align: left;
    margin: 1em;
}

.word{
    float: right;
}

.one-two-words{
    float: right;

}

.update-account-link{
    float:left;
}

/*Classificationss*/

#inv-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   }
   
   #inv-display li{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
   }
   
   #inv-display li img {
       max-width: 100%;
   }

/*Vehicle detail*/

.vehicle-detail-page{
    padding: 2em;
}

.vehicle-detail-container .details{
    flex-direction: column;
}

.vehicle-detail-container .details  img{
    max-width: 80%;
    flex: 0 0 80%;
}

.vehicle-detail-container .details .features{
    display: block;
}
.vehicle-detail-container .details span{
    order: 2;
    max-width: 80%;
}

.vehicle-detail-container .details h2{
    display: block;
    text-align: center;
}

.vehicle-detail-container .details .thumbnail{
    margin-top: 10px;
    flex-direction: row;
    order: 2;
    overflow-x: auto;
    width: 100%;
}

.vehicle-detail-container .details .thumbnail img{
    padding-right: 5px;
}

.vehicle-detail-container .details .thumbnail img:hover{
    transform: none;
}

.vehicle-detail-container .details img{
    padding-bottom: 10px;
    margin: auto;
}


.vehicle-detail-container .details .features table{
    width: 100%;
}

.higlight{
    background-color: var(--accent1-color);
    text-align: left;
    margin:2em;
}

.vehi-info img{
    max-width: 100%;
  
}

.thumbnail{
    margin:2em;
}

.notice{
    text-align: left;
    margin:2em;

}

.vehi-detail-main{
    display:inline-flex;
    flex-direction: column;
}


.vehi-detail-main{
    display: grid;
    grid-template-columns: 1fr;
    margin:1em;
}

.vehi-info{
    grid-row: 1/2;
    margin: 2em;

}

.thumbnail img:hover{
    transform: scale(1.2);
    z-index:2; 
}

.thumbnail{
    display: grid;
    grid-template-columns: 1fr;
}

.details img{
    max-width: 100%;
}

/*Chequear*/

.vehicle-detail-container{
    display: flex;
    flex-direction: column;
}

.vehicle-detail-container h1{
    text-align: center;
}

.vehicle-detail-container .details{
    display: flex;
    padding: 5px;
}

.vehicle-detail-container .details h2{
    display: none;
}

.vehicle-detail-container .details .thumbnail {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 5px;
}

.vehicle-detail-container .details .thumbnail img{
    padding-bottom: 5px;
    max-width: 100%;
    transition: transform .2s;
}

.vehicle-detail-container.details img{
    max-width: 50%;
    max-height: 500px;
    align-self: center;
}

.vehicle-detail-container .details> p{
    font-family:var(--font-paragraph);
    font-size: 0.9rem;
}

.vehicle-detail-container .details .features{
    display: flex;
    justify-content: center;
}

table {
    font-family:var(--font-paragraph);
    border-collapse: collapse;
    width: 60%;
}
 
table .value {
    text-align: right;
}

td,th {
    border: 1px solid var(--accent1-color);
    text-align: left;
    padding: 8px;
}

.vehicle-detail-container .details.features table tr .price{
    font-family: cursive;
    font-weight: 600;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}


/*chequear*/

/*review update & delete*/
.review{
    text-align: left;
    margin: 1.5em;
}

.review-messages{
    color:var(--accent5-color);
}

.reviews-form-section{
    padding: 2em;
}

.review-form{
    margin: 2em;
    border: 1px solid var(--accent2-color);
    padding: 25px;
    border-radius: 5px;
}

.del-question{
    text-align: left;
    color:var(--accent5-color)
}

.client-reviews{
    background-color: var(--accent6-color);
}
